<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.jxc.dao.OverflowMapper">

    <insert id="saveOverflow" useGeneratedKeys="true" keyProperty="overflowListId">
        insert into t_overflow_list(overflow_number,overflow_date,remarks,user_id)
        values(#{overflowNumber},#{overflowDate},#{remarks},1)
    </insert>


    <insert id="saveOverflowListGoods">
        insert into t_overflow_list_goods(goods_id,goods_code,goods_name,goods_model,
                                          goods_unit,goods_num,price,total,overflow_list_id,goods_type_id)
        values(#{goodsId},#{goodsCode},#{goodsName},#{goodsModel},#{goodsUnit},#{goodsNum},#{price},#{total},#{overflowListId},#{goodsTypeId})
    </insert>

    <select id="getOverflowList" resultType="com.atguigu.jxc.entity.OverflowList">
        SELECT
            tol.`overflow_list_id`,
            tol.`overflow_number`,
            tol.`overflow_date`,
            tol.`remarks`,
            tol.`user_id`
        FROM
            `t_overflow_list` tol
        WHERE
            #{sTime} &lt; tol.`overflow_date`
          AND
            #{eTime} &gt; tol.`overflow_date`
    </select>

    <select id="getGoodsList" resultType="com.atguigu.jxc.entity.OverflowListGoods">
        SELECT
            tol.`overflow_list_goods_id`,
            tol.`goods_id`,
            tol.`goods_code`,
            tol.`goods_name`,
            tol.`goods_model`,
            tol.`goods_unit`,
            tol.`goods_num`,
            tol.price,
            tol.total,
            tol.overflow_list_id,
            tol.`goods_type_id`
        FROM
            `t_overflow_list_goods` tol
        WHERE
            tol.overflow_list_id = #{overflowListId}
    </select>

</mapper>